

.header{
    font-size: 2rem;
    color: red;
    position:relative;
    height:80px;
    background-color:darkgray;
    width:900px;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    font-family: 'VT323' ;
    z-index: 1;
    
}
.canvas{
   width:900px;
   height:450px;
   border:1px solid black;
   border-bottom: 12px solid black;
   z-index: 1;
}
.trex{
    width:20px;
    height:50px;
    background-color: red;
    position:relative;
    top:78%;
    z-index: 1;
}

.animate{
    animation:jump .5s infinite;
}
@keyframes jump{
    0%{top:328px}
    30%{top:250px}
    70%{top:250px}
    100%{top:328px}
}
.obsticle{
    width:20px;
    height:30px;
    background-color: green;
    position:relative;
    top:72%;
    animation: obsticle 1s infinite linear;
    z-index: 1;
}
@keyframes obsticle{
    from {left:780px;}
    to {left:-40px;}
}
.score{
    position:relative;
    left:300px;
    width:250px;
    display:flex;
    font-family: 'VT323' ;
    font-size: 2rem;
    z-index: 1;
}

   @font-face{
    font-family: 'VT323';
    font-style: normal;
    font-size: 2rem;
    src: url(https://fonts.gstatic.com/s/vt323/v12/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
   }
.bothScores{
    display:flex;
    background-color: gold;
    z-index: 1;
}
.overlay{
    
    background-color:honeydew;
    z-index: 100;
}